body {
    background-image: url(../img/Foliac.jpg);

}

.headder {
    height: 652px;
}

.logo {
    padding-top: 36px;
    padding-left: 15px;

}

.logo .imglogo {
    float: left;
    width: 174px;
    display: block;
}

.nav {
    margin-top: 41px;

    text-align: right;
}

.nav a {
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    font-family: 'Big John';
    color: white;
    font-weight: 400;
    padding-top: 151px;
    margin-bottom: 0;
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
}

h2 {
    margin-top: 21px;
    padding-right: 39px;
    color: white;
    font-weight: 400;
    text-align: center;
    font-family: 'Slim Joe';
    font-size: 30px;
    text-transform: uppercase;
}

.button {
    width: 138px;
    height: 39px;
    margin-top: 22px;
    padding-top: 5px;
    text-align: center;
    border: 2px solid #48bf72;
    border-radius: 3px;
    color: #48bf72;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
}

.but {
    width: 140px;
    margin: 0 auto;

}

.row_buttons {
    width: 760px;
    margin: 0 auto;
    padding-left: 41px;
}

.row_buttons a {
    margin-top: 49px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    color: #3c4955;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    background-color: #eaeaea;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
}

.main {
    height: 1050px;
}

.col a:hover {
    opacity: 0.5;
    background-color: #48bf72;
    color: #48bf72;
}

.row1_img1 {
    padding-left: 25px;
    padding-top: 51px;
}

.img1 {
    margin-bottom: 35px;
}

.row2_img2 {
    padding-left: 19px;
    padding-top: 51px;
}

.img2 {
    margin-bottom: 35px;
}

.aboutme {
    height: 503px;
}

.CV {
    margin-left: 980px;
    margin-right: 515px;
}

.name {
    padding-top: 84px;
    margin-top: 0;
    margin-bottom: 0px;
    color: white;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 700;
}

.profession {
    margin-top: 6px;
    color: white;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 400;
}

.text_content {
    margin-top: 33px;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.contact_button {
    width: 152px;
    height: 39px;
    margin-top: 20px;
    padding-left: 18px;
    padding-top: 6px;
    text-decoration: none;
    border: 2px solid #3c4955;
    border-radius: 3px;
    color: #3c4955;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
}

.contactinfo {
    height: 567px;
}

footer {
    height: 201px;
}

.footer p {
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
}

.footerlink {
    padding-top: 66px;
    padding-left: 16px;
    display: inline-block
}

.footerlink a {

    color: white;
    font-family: Lato;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    display: block;
}

.social {
    margin-top: 38px;
    margin-left: 444px;
    text-align: right;
    display: inline-block;
}

.social a {
    padding-left: 20px;
    padding-right: 16px;
    display: inline-block;
}